# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# compilation
/ts-out

# production
/build

# misc
.env

client/src/contracts
!client/src/contracts/NFTCollection.json